<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="https://www.meme-arsenal.com/memes/eebc05e99e70baf7ca75f49b0289b92a.jpg" alt="oh no">
        <div class="card-body">
          <div>
            <strong>Ultimo acesso:</strong>
            <p>{{user.ultimoLogin}}</p>
          </div>
          <div>
            <strong>Membro desde:</strong>
            <p>{{user.criado}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Sucesso</button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Sobre">

          </tab>
          <tab heading="Fotos">
            
          </tab>
          <tab heading="Menssagem">
            
          </tab>

        </tabset>
      </div>
    </div>
  </div>
</div>
  
    
